<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>create</servlet-name>
        <servlet-class>Rutas.create</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modify</servlet-name>
        <servlet-class>Rutas.modify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>preview</servlet-name>
        <servlet-class>Rutas.preview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetQuestions</servlet-name>
        <servlet-class>APIs.GetQuestions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetQuestion</servlet-name>
        <servlet-class>APIs.GetQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPointers</servlet-name>
        <servlet-class>APIs.getPointers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>create</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modify</servlet-name>
        <url-pattern>/modify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>preview</servlet-name>
        <url-pattern>/preview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetQuestions</servlet-name>
        <url-pattern>/API/GetQuestions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetQuestion</servlet-name>
        <url-pattern>/API/GetQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPointers</servlet-name>
        <url-pattern>/API/getPointers</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
